{% extends 'core/base.html' %}

{% block title %}Privacy policy | {% endblock %}

{% block content %}
    <section class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Privacy policy</h1>
                <hr>
                <h2 class="subtitle">The Information Technology Rules require for all body corporates to address any 
                    discrepancies and grievances of the provider of information with respect to processing of information 
                    in a time bound manner. For this purpose, the body corporate is required to designate a Grievance 
                    Officer and publish his name and contact details on its website. 
                        The Grievance Officer would then be responsible for addressing the grievances of information 
                        providers in an expeditiously manner within one month from the date of receipt of grievance.</h2>
            </div>
        </div>
    </section>  
{% endblock %}