{% extends 'core/base.html' %}

{% block title %}Terms of service | {% endblock %}

{% block content %}
    <section class="hero is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Terms of service</h1>
                <hr>
                <h2 class="subtitle">The termination clause in your terms of service should outline what process you take when and 
                    if a user violates your guidelines, including banning the perpetrator or suspending and removing their account.
                    We recommend keeping this clause broad so you have more leeway for managing unnecessary and 
                        rule-breaking accounts.</h2>
            </div>
        </div>
    </section>  
{% endblock %}